.home {
	padding : 1rem;
}

.page-heading {
	color : black;
	font-family : 'Roboto', sans-serif;
}

.post-list {
	li {
		position : relative !important;
		display : inline-block !important; 
		width : 20rem;
		height : 20rem;
		margin : 0 1rem;
		position : relative; 
		overflow : hidden; 
		z-index : 3;
		.image-bg {
			position : absolute;
			width : 100%;
			height : 100%;
			z-index : -1; 
		}
	}
}

.post {
	background-color : white;
	padding : 1rem; 
	&-meta {
		color : white;
		font-family : 'RobotoLight', sans-serif;  
		&.black {
			color : black;
		}
	}

	&-link {
		position : relative;
		display : block; 
		bottom : -10rem;
		a {
			color : white;
			font-family : 'RobotoLight', sans-serif;
			font-size : 1em;  
			@include transition(all 400ms ease-in-out);
			&:hover {
				text-decoration : none;
			}
			&:visited {
				color : white;
				&:hover {
					color : black;
				}
			}
		}
	}

	&-content {
		width : 100%;
		height : 100%;
		padding-left: 2rem; 
		padding-top : 2rem; 
		position : relative; 
		font-family : "Roboto", sans-serif !important;  
	}
	&-title {
		font-family : 'RobotoLight', sans-serif;
		text-transform : uppercase;  
	}
}

.rss-subscribe {
	font-family : 'Roboto', sans-serif;
	color : black; 
}