.avatar {
	border-radius : 100%;
	width : 5rem; 
	height : 5rem;
	display : inline-block;
}

.sidebar {
	padding : 2rem 2rem;
	color : black;
	background-color : white;

	@media screen and (min-width: 40em) {
		position : fixed;
		height : 100%;
	}
	height : 30rem; 
	position : relative;
	h4 {
		font-family : 'RobotoLight', sans-serif;
		text-transform : uppercase;
	} 
}

.navigation-menu {
	padding-top : 2rem; 
	margin-left : 0;  
	li {
		display : block;
		padding : 0.5rem;
		a {
			font-family : 'Roboto', sans-serif;
			text-transform : uppercase;   
			color :  $dark_grey_color;
			cursor : pointer;
			@include transition(all 400ms ease-in-out);
			&:hover {
				color : black;
				font-weight : bold; 
				text-decoration : none; 
			}
		}
	}
}

.footer-me {
	width :  auto;
	height : 8rem;
	position : relative;
	svg {
		width : 100%;
		height :  100%;
		path {
		  stroke-dasharray: 1000;
		  stroke-dashoffset: 1000;
		  animation: stroke 5s infinite;
		  animation-delay: 0s;
		}
	}  
}

@keyframes stroke {
  from {stroke-dashoffset: 1000;}
  to {stroke-dashoffset: 0;}
}	